sudo: false
language: node_js
node_js:
- '5.11'
cache:
  directories:
  - node_modules
before_script:
- npm prune
after_success:
- npm run coverage
- npm run semantic-release
branches:
  except:
  - /^v\d+\.\d+\.\d+$/
notifications:
  email: false
  slack:
    secure: xzE7FN0GipZ+UpotzlW0ICQMhsdTqtXnW4ruHN5BpCsYEFgLrX26ILKaMeOxTRPH/R+VEAfW43hcjzmheS3xmaaN/gG8hF7Xrrv6+X54sZKUumTeB/rtWzjKBcHEHVsOhEt6W2zl1kBoPAQ5RFJDHDrf8aVicR0i2LoXom0yaOjD4Bh9sOdVoMOT0FPQ+e3zj+lq0K1iMQTQX3t5LME6n7vmdHSOyFu+ou2v7hQceja46iKnhnRrh2y/Wq8Q7Eke03j06qAxImEzCTwYdgPJMDo4uPl47ns8n+Gb/xqqP9AjOO0wgBoB921K5pntYwfz8S5u7uSa4M13MduOhjnrN+gaP5gJQs13nb3NdcYcOxotj/12l1YLETzJEqtCWoGQE5WeMhAthFJm6SlGiyDfyBiKjsqb1hJIcupn0Y6O1SX00oQi/mi8buL9nWd/8QjkNCyPxVF4S4m7bIa4fuqM48ED9JMtFMFx0FaxDn6qvnE6FTMQ745xQX2sR014gytOpCiA8c9ek+VVsArAAXA648Hm4rIeeKPeszOnMxfHKhW2Y7dW9zYV1AOx0SZNDms6sKuEvcAEWVxiXwuvOhR+W3PbIt0hgsRCYqvVE9Zs0G4dwHdlJnXbPhnZhuxd9UIFokRI/98LMWgGzF99uecx/gVS1EDm/tH9RbkVtKt0r5o=
